.warranty {
  padding-top: 28px;
  @media (min-width: $tablet-bp-min) and (max-width: $tablet-bp-max) {
    padding-top: 33px;
  }
  @media (min-width: $desktop-bp-min) and (max-width: $desktop-bp-max) {
    padding-top: 50px;
  }
  @media screen and (min-width: $ladge-desktop-bp-min) {
    padding-top: 74px;
  }
}

.heading-section-warranty {
  text-align: center;
  margin-bottom: 25px;
}
.wrapper-bg {
  @media screen and (max-width: $mobile-bp-max) {
    background-color: $second-background-color;
  }
  width: 100%;
}

.warranty-content-list {
  @include font-settings(
    $size: 11px,
    $height: 1.818,
    $weight: 500,
    $color: $fourth-font-color
  );
  letter-spacing: 0.4px;
  padding-top: 25px;
  padding-bottom: 28px;
  background-color: $second-background-color;
  @media (min-width: $tablet-bp-min) and (max-width: $tablet-bp-max) {
    padding-top: 35px;
    padding-bottom: 33px;
  }
  @media (min-width: $desktop-bp-min) and (max-width: $desktop-bp-max) {
    padding-top: 51px;
    padding-bottom: 47px;
    @include font-settings(
      $size: 18px,
      $height: 1.62,
      $weight: 500,
      $color: $fourth-font-color
    );
  }
  @media screen and (min-width: $ladge-desktop-bp-min) {
    padding-top: 60px;
    padding-bottom: 58px;
    @include font-settings(
      $size: 21px,
      $height: 1.4,
      $weight: 500,
      $color: $fourth-font-color
    );
  }
}

.warranty-content-list__item {
  padding-left: 31px;
  padding-right: 5px;
  position: relative;

  @media screen and (max-width: $mobile-bp-max) {
    &:not(:last-child) {
      margin-bottom: 21px;
    }
  }
  @media (min-width: $tablet-bp-min) and (max-width: $tablet-bp-max) {
    padding-left: 96px;
    padding-right: 58px;
    &:not(:last-child) {
      margin-bottom: 26px;
    }
  }
  @media (min-width: $desktop-bp-min) and (max-width: $desktop-bp-max) {
    padding-left: 203px;
    padding-right: 132px;
    &:not(:last-child) {
      margin-bottom: 33px;
    }
  }
  @media screen and (min-width: $ladge-desktop-bp-min) {
    padding-left: 177px;
    padding-right: 148px;
    &:not(:last-child) {
      margin-bottom: 34px;
    }
  }
}
.warranty-content-list__item--decor {
  &::after {
    display: block;
    content: '';
    border-left: 1px dotted #bababa;
    height: 100%;
    position: absolute;
    top: 21px;
    left: 2px;
    @media (min-width: $tablet-bp-min) and (max-width: $tablet-bp-max) {
      left: 63px;
      top: 18px;
      height: 130%;
    }
    @media (min-width: $desktop-bp-min) and (max-width: $desktop-bp-max) {
      left: 158px;
      top: 25px;
      height: 120%;
    }
    @media screen and (min-width: $ladge-desktop-bp-min) {
      left: 133px;
      top: 27px;
      height: 110%;
    }
  }
}
.warranty-content-list__item-svg {
  width: 17px;
  height: 21px;
  position: absolute;
  top: 0px;
  left: -5px;
  @media (min-width: $tablet-bp-min) and (max-width: $tablet-bp-max) {
    left: 55px;
  }
  @media (min-width: $desktop-bp-min) and (max-width: $desktop-bp-max) {
    left: 147px;
    width: 23px;
    height: 29px;
  }
  @media screen and (min-width: $ladge-desktop-bp-min) {
    left: 121px;
    width: 26px;
    height: 30px;
  }
}
.warranty-item-svg {
  fill: $main-color;
}
.warranty-content-list__item--text-color-decor {
  font-weight: 600;
  color: $second-font-color;
}
