.warranty {
  padding-top: 50px;
}

.heading-section-warranty {
  text-align: center;
  margin-bottom: 25px;
}
.wrapper-bg {
  @media screen and (max-width: $mobile-bp-max) {
    background-color: $second-background-color;
  }
  width: 100%;
}

.warranty-content-list {
  @include font-settings(
    $size: 11px,
    $height: 1.818,
    $weight: 500,
    $color: $fourth-font-color
  );

  padding-top: 25px;
  padding-bottom: 28px;
  background-color: $second-background-color;
}

.warranty-content-list__item {
  padding-left: 31px;
  padding-right: 5px;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 21px;
  }
}
.warranty-content-list__item--decor {
  &::after {
    display: block;
    content: '';
    border-left: 1px dotted #bababa;
    height: 100%;
    position: absolute;
    top: 21px;
    left: -8px;
  }
}
.warranty-content-list__item-svg {
  width: 17px;
  height: 21px;
  position: absolute;
  top: 0px;
  left: -16px;
}
.warranty-item-svg {
  fill: $main-color;
}
.warranty-content-list__item--text-color-decor {
  @include font-settings(
    $size: 11px,
    $height: 1.818,
    $weight: 600,
    $color: $second-font-color
  );
}
