html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  // font-family: $first-font-family;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
  margin: -1px;
  font-size: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.br {
  display: block;
  line-height: inherit;
  letter-spacing: inherit;
}

.container {
  margin: 0 auto;

  @media screen and (max-width: 719px) {
    width: 100%;
    min-width: 280px;
  }
  @media screen and (min-width: 720px) {
    width: 688px;
  }
  @media screen and (min-width: 1240px) {
    width: 1210px;
  }
  @media screen and (min-width: 1370px) {
    width: 1342px;
  }
}
