.header {
  padding-top: 34px;
  padding-bottom: 36px;

  @media screen and (min-width: $tablet-bp-min) {
    padding-bottom: 53px;
  }

  @media screen and (min-width: $desktop-bp-min) {
    padding-top: 36px;
    padding-bottom: 96px;
  }

  @media screen and (min-width: $ladge-desktop-bp-min) {
    padding-bottom: 119px;
  }
}

.header__navigation {
  margin-bottom: 54px;

  @media screen and (min-width: $tablet-bp-min) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: $desktop-bp-min) {
    margin-bottom: 44px;
  }

  @media screen and (min-width: $ladge-desktop-bp-min) {
    margin-bottom: 50px;
  }
}

.header__bg {
  background-image: url(../images/header/mobile/bg-m.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-resolution: 192dpi) {
    background-image: url(../images/header/mobile/bg-m@2x.png);
  }

  @media (min-width: $tablet-bp-min) {
    background-image: url(../images/header/tablet/bg-t.png);
  }

  @media (min-width: $tablet-bp-min) and (min-resolution: 192dpi) {
    background-image: url(../images/header/tablet/bg-t@2x.png);
  }

  @media (min-width: $desktop-bp-min) {
    background-image: url(../images/header/desctop_1280/bg-d.png);
  }

  @media (min-width: $desktop-bp-min) and (min-resolution: 192dpi) {
    background-image: url(../images/header/desctop_1280/bg-d@2x.png);
  }

  @media (min-width: $ladge-desktop-bp-min) {
    background-image: url(../images/header/desctop_1680/bg-ld.png);
  }

  @media (min-width: $ladge-desktop-bp-min) and (min-resolution: 192dpi) {
    background-image: url(../images/header/desctop_1680/bg-ld@2x.png);
  }
}

.navigation__button {
  background: none;
  color: $second-font-color;
  transition: color 300ms linear, background-color 250ms linear;

  &--link {
    text-decoration: none;
    text-align: center;
  }

  &:hover,
  &:focus {
    background-color: $main-color;
    color: $fifth-font-color;
  }

  @media screen and (min-width: $desktop-bp-min) {
    min-width: 300px;
    font-size: 12px;
    letter-spacing: 0.1em;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  @media screen and (min-width: $ladge-desktop-bp-min) {
    min-width: 350px;
  }
}

.header__information {
  margin-bottom: 79px;

  @media screen and (min-width: $tablet-bp-min) {
    margin-bottom: 117px;
  }

  @media screen and (min-width: $ladge-desktop-bp-min) {
    margin-bottom: 107px;
  }
}
