.list-benefit {
    list-style: none;
    display: flex;
    align-items: center;

    @media screen and (max-width: $mobile-bp-max) {
        flex-direction: column;
    }

    @media screen and (min-width: $tablet-bp-min) {
        justify-content: space-between;
    }
}

.list-benefit__item {
    display: flex;
    width: 200px;

    &:not(:last-child) {
        @media screen and (max-width: $mobile-bp-max) {
            margin-bottom: 25px;
        }
    }

    @media screen and (min-width: $desktop-bp-min) {
        width: 380px;
    }
}

.list-benefit__svg-wrapper {
    width: 58px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid $main-color;
    position: relative;

    &::before {
        content: "";
        display: block;
        border-right: 3px solid #ffffff;
        height: 36px;
        position: absolute;
        top: 8px;
        left: 52px;

        @media screen and (min-width: $desktop-bp-min) {
            height: 71px;
            top: 13px;
            left: 97px;
        }
    }

    @media screen and (min-width: $desktop-bp-min) {
        width: 103px;
        height: 103px;
    }
}

.list-benefit__svg {
    width: 36px;
    height: 36px;
    fill: $main-color;

    @media screen and (min-width: $desktop-bp-min) {
        width: 45px;
        height: 45px;
    }
}

.list-benefit__text {
    font-family: $main-font-family;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.05em;
    font-weight: 700;
    width: 142px;
    display: flex;
    align-items: center;
    padding-left: 10px;

    @media screen and (min-width: $desktop-bp-min) {
        width: 277px;
    }
}