.list-benefit {
    list-style: none;
    display: flex;
    align-items: center;

    @media screen and (max-width: $mobile-bp-max) {
        flex-direction: column;
    }

    @media screen and (min-width: $tablet-bp-min) {
        justify-content: space-between;
    }
}

.list-benefit__item {
    display: flex;
    width: 200px;

    &:not(:last-child) {
        @media screen and (max-width: $mobile-bp-max) {
            margin-bottom: 25px;
        }
    }

    @media screen and (min-width: $desktop-bp-min) {
        position: relative;

        &--first {
            width: 470px;
        }

        &--second {
            width: 420px;
        }

        &--third {
            width: 320px;
        }
    }

    @media screen and (min-width: $ladge-desktop-bp-min) {
        &--first {
            width: 520px;
        }

        &--second {
            width: 440px;
        }

        &--third {
            width: 382px;
        }
    }
}

.list-benefit__svg-wrapper {
    width: 58px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid $main-color;
    position: relative;

    &::before {
        content: "";
        display: block;
        border-right: 8px solid #ffffff;
        height: 36px;
        position: absolute;
        top: 8px;
        left: 50px;

        @media screen and (min-width: $desktop-bp-min) {
            height: 71px;
            top: 13px;
            left: 95px;
        }
    }

    @media screen and (min-width: $desktop-bp-min) {
        width: 103px;
        height: 103px;
    }
}

.list-benefit__svg {
    width: 52px;
    height: 36px;
    fill: $main-color;

    @media screen and (min-width: $desktop-bp-min) {
        width: 45px;
        height: 45px;
    }
}

.list-benefit__text {
    font-family: $main-font-family;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.05em;
    font-weight: 700;

    @media screen and  (max-width: $tablet-bp-max) {
        padding-left: 10px;
    }

    @media screen and (min-width: $desktop-bp-min) {
        position: absolute;
        top: 23px;
        left: 84px;
        font-size: 18px;
        line-height: 28px;
    }

    @media screen and (min-width: $ladge-desktop-bp-min) {
        font-size: 20px;
        line-height: 33px;
        top: 19px;
    }
}