.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation__menu {
  display: none;
  margin-left: auto;

  @media screen and (min-width: $desktop-bp-min) {
    display: flex;
    margin-right: 56px;
  }

  @media screen and (min-width: $ladge-desktop-bp-min) {
    margin-right: 44px;
  }
}

.navigation__button {
  display: none;

  @media screen and (min-width: $tablet-bp-min) and (max-width: $desktop-bp-min) {
    margin-left: auto;
  }

  @media screen and (min-width: $tablet-bp-min) {
    display: block;
  }
}

.menu {
    cursor: pointer;
    border: none;
    background: none;

    @media screen and (min-width: $tablet-bp-min) {
      margin-left: 46px;
    }

  @media screen and (min-width: $desktop-bp-min) {
    display: none;
  }
}

.menu__svg {
    fill: $main-background-color;
    width: 29px;
    height: 29px;
    display: block;
    transition: fill 250ms linear;

    &:hover,
    &:focus {
        fill: $main-color;
    }
}