.navigation {
    display: flex;
}

.navigation__menu {
    display: none;
    margin-left: auto;
}

.navigation__button {
    display: none;
}

.navigation__bar {
    width: 40px;
    height: 40px;
}

@media screen and (min-width: $tablet-bp-min) and (max-width: $desktop-bp-min) {
    .navigation__button {
        margin-right: 46px;
    }
}

@media screen and (min-width: $tablet-bp-min) {
    .navigation__button {
        display: block;
    }
}

@media screen and (min-width: $desktop-bp-min) {
    .navigation__menu {
        display: flex;
        margin-right: 56px;
    }

    .navigation__bar {
        display: none;
    }
}

@media screen and (min-width: $ladge-desktop-bp-min) {
    .navigation__menu {
        margin-right: 44px;
    }
}