.reviews {
  padding-top: 46px;
  padding-bottom: 54px;
}

.slick-slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.heading-section {
  font-family: $main-font-family;
  color: $sixth-font-color;
  text-align: center;
  margin-bottom: 18px;
  line-height: 1.327;
}

@media screen and (min-width: $tablet-bp-min) {
  .mobile-heading {
    display: none;
  }
}

@media screen and (max-width: $mobile-bp-max) {
  .tablet-heading {
    display: none;
  }
}

.slick-slide {
  display: flex;
  flex-direction: column;
  background-color: $thr-background-color;
  box-shadow: 4px 6.928px 34.96px 11.04px $rev-shadow;
  margin-bottom: 18px;

  @media screen and (min-width: $tablet-bp-min) {
    flex-direction: row;
    justify-content: space-around;
  }
}

.slick-slide__images-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: $tablet-bp-min) {
    margin-top: 42px;
  }
}

@media screen and (min-width: $tablet-bp-min) {
  .slick-slide__text-wrapper {
    max-width: 480px;
    margin-top: 42px;
  }
}

.slick-slide__picture {
  height: 80px;
  width: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.link {
  display: block;
  text-decoration: none;
}

.slick-slide__icon {
  width: 25px;
  height: 14px;
  background-size: cover;
  background-image: url('../images/reviews/vk.png');
  background-repeat: no-repeat;
  margin-bottom: 22px;

  @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('../images/reviews/vk@2x.png');
  }
}

.slick-slide__heading {
  font-family: $main-font-family;
  color: $second-font-color;
  font-size: 13px;
  font-weight: bold;
  line-height: 2.244;
  text-align: center;

  @media screen and (min-width: $tablet-bp-min) {
    font-size: 18px;
    line-height: 1.62;
    text-align: left;
  }
}

.slick-slide__descr {
  font-size: 11px;
  font-family: $main-font-family;
  color: $seventh-font-color;
  line-height: 1.515;
  text-align: center;
  padding-left: 28px;
  padding-right: 28px;
  margin-bottom: 20px;

  @media screen and (min-width: $tablet-bp-min) {
    font-size: 12.5px;
    line-height: 1.333;
    text-align: left;
  }
}

.slick-slide__comment {
  font-size: 11px;
  font-family: $main-font-family;
  color: $fourth-font-color;
  line-height: 1.818;
  font-weight: 500;
  text-align: center;
  padding-left: 28px;
  padding-right: 28px;

  @media screen and (min-width: $tablet-bp-min) {
    text-align: left;
  }  
}

@media screen and (max-width: $mobile-bp-max) {
  .slick-slide__comment--tab {
    display: none;
  }
}

.slick-slide__comment--readmore {
  height: 18px;
  font-size: 11px;
  font-family: $main-font-family;
  color: $second-font-color;
  line-height: 1.818;
  font-weight: 600;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-bottom: 3px solid $border-color;
  margin-bottom: 34px;
}

.slick-slider__button {
  width: 20px;
  height: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  transform: translateY(200%);
}

.slick-slider__controls {
  position: relative;
  width: 100%;
}

.slick-slider__controls--prev {
  left: 0;
  background-image: url('../images/reviews/arrowl.svg');
}

.slick-slider__controls--next {
  right: 0;
  background-image: url('../images/reviews/arrowr.svg');
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;;
}

.pagination__item {
  width: 54px;
  height: 54px;
  background-size: cover;
}

.pagination__item:not(:last-child) {
  margin-right: 10px;
}

.pagination__item--first {
  background-image: url('../images/reviews/1/mob_pic.png');

  @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('../images/reviews/1/mob_pic@2x.png');
  }
}

.pagination__item--second {
  background-image: url('../images/reviews/2/mob_pic.png');

  @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('../images/reviews/2/mob_pic@2x.png');
  }
}

.pagination__item--third {
  background-image: url('../images/reviews/7/mob_pic.png');

  @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('../images/reviews/7/mob_pic@2x.png');
  }
}