.slider__container {
  position: relative;
  padding-top: 48px;
  padding-bottom: 96px;

  @media screen and (min-width: $tablet-bp-min) {
    padding-top: 66px;
  }

  @media screen and (min-width: $desktop-bp-min) {
    padding-top: 90px;
  }

  @media screen and (min-width: $ladge-desktop-bp-min) {
    padding-top: 124px;
  }
}

.slider__title {
  font-family: $main-font-family;
  font-size: 20px;
  line-height: 26px;
  font-weight: 800;
  letter-spacing: 0.05em;
  color: $sixth-font-color;
  text-align: center;
  margin-bottom: 22px;

  @media screen and (min-width: $tablet-bp-min) {
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 42px;
  }

  @media screen and (min-width: $desktop-bp-min) {
    font-size: 42px;
    line-height: 62px;
    margin-bottom: 35px;
  }

  @media screen and (min-width: $ladge-desktop-bp-min) {
    font-size: 46px;
    line-height: 62px;
    margin-bottom: 44px;
  }
}

.slider__title-item {
  @media screen and (min-width: $tablet-bp-min) {
    display: none;
  }
}

.slider__shadow {
  box-shadow: 4px 6.928px 34.96px 11.04px $rev-shadow;

  @media screen and (min-width: $desktop-bp-min) {
    width: 1070px;
    margin: 0 auto;
  }
}

.js-slick  {
  position: relative;
}

.slide__wrapper {
  padding-top: 22px;
  padding-bottom: 34px;

  @media screen and (min-width: $tablet-bp-min)  {
    padding-top: 42px;
    display: flex;
  }

  @media screen and (min-width: $desktop-bp-min){
    padding-top: 47px;
  }
}

.slide-img {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: $mobile-bp-max) {
    margin-bottom: 26px;
  }

  @media screen and (min-width: $tablet-bp-min) and (max-width: $tablet-bp-max) {
    padding-top: 14px;
  }
}

.slide-img__picture {
  width: 80px; 
  height: 80px;
  margin-bottom: 16px;

  @media screen and (min-width: $tablet-bp-min) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: $desktop-bp-min) {
    width: 145px;
    height: 145px;
  }
}

.slide-img__link {
  width: 25px;
  height: 25px;
  background-image: url(../images/reviews/vk.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.slide-information {
  padding-left: 22px;
  padding-right: 22px;
  text-align: center;
}

.slide-information__title {
  font-family: $main-font-family;
  font-size: 13px;
  line-height: 23px;
  font-weight: 800;
  letter-spacing: 0.05em;
  color: $second-font-color;
}

.slide-information__subtitle {
  font-family: $main-font-family;
  font-size: 11px;
  line-height: 16px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: $seventh-font-color;
  margin-bottom: 15px;
}

.slide-information__text {
  font-family: $main-font-family;
  font-size: 11px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: $fourth-font-color;
}

.slide-information__text-item {
  @media screen and (max-width: $mobile-bp-max) {
    display: none;
  }
}

.slide-information_btn {
  font-size: 11px;
  line-height: 20px;
  font-family: $main-font-family;
  color: $second-font-color;
  font-weight: 500;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-bottom: 3px solid $border-color;
}

.pagination {

  display: flex;
  justify-content: center;
  list-style: none;

  &__item {
    width: 54px;
    height: 54px;
    background-size: cover;
    display: block;
  }

  &__item:not(:last-child) {
    margin-right: 10px;

    @media screen and (min-width: $tablet-bp-min) {
      margin-right: 20px;
    }

    @media screen and (min-width: $desktop-bp-min) {
      margin-right: 36px;
    }
  }

  &__item--1 {
    background-image: url('../images/reviews/1/mob_tab_pic.png');

    @media (min-resolution: 192dpi) {
      background-image: url('../images/reviews/1/mob_tab_pic@2x.png');
    }
  }

  &__item--2 {
    background-image: url('../images/reviews/2/mob_tab_pic.png');

    @media (min-resolution: 192dpi) {
      background-image: url('../images/reviews/2/mob_tab_pic@2x.png');
    }
  }

  &__item--3 {
    background-image: url('../images/reviews/3/mob_tab_pic.png');

    @media (min-resolution: 192dpi) {
      background-image: url('../images/reviews/3/mob_tab_pic@2x.png');
    }
  }

  &__item--4 {
    background-image: url('../images/reviews/4/mob_tab_pic.png');

    @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/reviews/4/mob_tab_pic@2x.png');
    }
  }
}

.slick-pagination-dots {
  display: flex;
  position: absolute;
  top: 430px;
  left: 17px;

  li {
    margin-right: 10px;

    &:last-child {
      margin: 0;
    }
  }
}

.conrols {
  display: flex;
  justify-content: space-between;
  width: 150px;
  position: absolute;
  top: 625px;
  left: 65px;
  background-repeat: no-repeat;
}

.conrols__btn--prev {
  background-image: url(../images/reviews/prev.svg);
  width: 20px;
  height: 11px;
  border: none;
  background-color: transparent;
}

.conrols__btn--next {
  background-image: url(../images/reviews/next.svg);
  width: 20px;
  height: 11px;
  border: none;
  background-color: transparent;
}