// FONTS
$first-font-family: 'Poppins', sans-serif;

//  COLORS
$first-main-color: #ba0000;
$second-main-color: #ffcc00;
$third-main-color: #ffffff;
$first-secondary-color: #f4f4f4;
$border-color: rgba(186, 0, 0, 0.1);
$first-main-color-contrast: #a30000;

//FONT COLORS
$first-font-color: #ba0000;
$second-font-color: #ffcc00;
$third-font-color: #ffffff;
$fourth-font-color: #777777;
$fifth-font-color: #222222;
$sixth-font-color: #017edf;
