// LOGO -- FIRE -- ICON -- ANIMATION
.svg-box {
  width: 24px;
  height: auto;
  position: relative;

  @media screen and (min-width: $tablet-bp-min) {
    width: 28px;
  }
}

.logo-svg {
  width: 100%;
  height: auto;
  position: absolute;
  left: -5px;
  top: -28px;

  @media screen and (min-width: $tablet-bp-min) {
    left: -6px;
  }
}

.flame {
  animation-name: flamefly;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  opacity: 0;
  transform-origin: 50% 50% 0;
}

.flame.one {
  animation-delay: 1s;
  animation-duration: 3s;
}

.flame3.two {
  animation-duration: 5s;
  animation-delay: 1s;
}

.flame-main {
  animation-name: flameWobble;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.flame-main.one {
  animation-duration: 4s;
  animation-delay: 1s;
}

.flame-main.two {
  animation-duration: 3s;
  animation-delay: 2s;
}

.flame-main.three {
  animation-duration: 2.1s;
  animation-delay: 3s;
}

.flame-main.four {
  animation-duration: 3.2s;
  animation-delay: 4s;
}

.flame-main.five {
  animation-duration: 2.5s;
  animation-delay: 5s;
}

@keyframes flameWobble {
  50% {
    transform: scale(1, 1.2) translate(0, -30px) rotate(-2deg);
  }
}

@keyframes flamefly {
  0% {
    transform: translate(0) rotate(180deg);
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translate(-20px, -100px) rotate(180deg);
    opacity: 0;
  }
}

// LOGO -- FIRE -- TEXT -- ANIMATION
.logo {
  &:hover {
    animation: fire-logo-text 3s;
  }
}

@keyframes fire-logo-text {
  0% {
  }

  30% {
    text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85,
      -20px -20px 40px #ffae34, 20px -40px 50px #ec760c,
      -20px -60px 60px #cd4606, 0 -80px 70px #973716, 10px -90px 80px #451b0e;
  }

  100% {
    text-shadow: 0 0 20px rgba(254, 252, 201, 0),
      10px -100px 30px rgba(254, 236, 133, 0),
      -20px -100px 40px rgba(255, 174, 52, 0),
      20px -100px 50px rgba(236, 118, 12, 0),
      -20px -120px 60px rgba(205, 70, 6, 0), 0 -100px 70px rgba(151, 55, 22, 0),
      10px -180px 80px rgba(69, 27, 14, 0);
  }
}

// TITLE -- FIRE -- TEXT

section {
  transition: all 2500ms ease;

  &:hover {
    .heading-section {
      animation: fire-text 4s ease-out infinite alternate;
    }
  }
}

@keyframes fire-text {
  30% {
    text-shadow: 0 0 4px #fefcc9, 1px -1px 6px #feec85, -2px -2px 8px #ffae34,
      2px -4px 10px #ec760c, -2px -6px 12px #cd4606, 0 -8px 14px #973716,
      1px -9px 16px #451b0e;
  }

  70% {
    text-shadow: 0 0 2px #fefcc9, 0 1px #feec85, -1px -1px 4px #ffae34,
      1px -2px 6px #ec760c, -1px -3px 6px #cd4606, 0 -4px 8px #973716,
      0.5px -4px 8px #451b0e;
  }

  100% {
    text-shadow: 0 0 4px #fefcc9, 1px -1px 6px #feec85, -2px -2px 8px #ffae34,
      2px -4px 10px #ec760c, -2px -6px 12px #cd4606, 0 -8px 14px #973716,
      1px -9px 16px #451b0e;
  }
}

// BUTTON -- SWING
.btn-swing {
  animation: btn-animation 5s infinite;
}

@keyframes btn-animation {
  0% {
    transform: scale(1);
  }

  10% {
    transform: scale(1);
  }

  13% {
    transform: scale(1.03);
  }

  16% {
    transform: scale(1.03) rotate(-3deg);
  }

  19% {
    transform: scale(1.03) rotate(3deg);
  }

  23% {
    transform: scale(1.03) rotate(-2deg);
  }

  26% {
    transform: scale(1.03) rotate(2deg);
  }

  29% {
    transform: scale(1.03) rotate(-1deg);
  }

  32% {
    transform: scale(1.03) rotate(1deg);
  }

  35% {
    transform: scale(1.03) rotate(-0.5deg);
  }

  40% {
    transform: scale(1) rotate(0);
  }
}

// BUTTON -- HOVER -- FIRE
.button-hover {
  position: relative;
  transition: all 2s ease;

  &_colored:hover {
    background-color: $thr-background-color;
    color: $second-font-color;
    outline: 2px solid $main-color;
  }

  &:hover {
    animation: burn 1500ms ease-out both;
    box-shadow: 20px 20px 5px 5px $rev-shadow;

    &::before {
      content: '';
      position: absolute;
      top: 5px;
      left: 40px;
      width: 100px;
      height: 40px;
      background: rgba(255, 230, 110, 1);
      border-radius: 100%;
      animation: flare 1000ms ease-out forwards;
    }

    &::after {
      content: '';
      position: absolute;
      top: 5px;
      right: 40px;
      width: 100px;
      height: 40px;
      background: rgba(255, 230, 110, 1);
      border-radius: 100%;
      animation: flare 1000ms ease-out forwards;
    }
  }
}

@keyframes flare {
  0% {
    opacity: 0;
    filter: blur(30px);
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translateY(-10px) scale(2);
    filter: blur(10px);
    opacity: 0;
  }
}

@keyframes burn {
  0% {
    box-shadow: 0 0 5px 0 rgba(200, 0, 10, 1), 0 0 5px 0 rgba(230, 30, 10, 0.8),
      0 0 5px 0 rgba(230, 230, 10, 0.6);
  }

  100% {
    box-shadow: 0 -35px 50px 5px rgba(255, 130, 10, 0),
      0 -30px 30px 10px rgba(230, 30, 10, 0),
      0 -20px 10px 0 rgba(255, 255, 10, 0);
  }
}

// FIRE -- TEXT
