.button {
  min-width: 250px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 14px;
  padding-bottom: 14px;
  font-family: $button-font-family;
  font-size: 11px;
  line-height: 16px;
  color: $fifth-font-color;
  text-transform: uppercase;
  letter-spacing: 0.13em;
  border: 2px solid $main-color;
  background-color: $main-color;
  cursor: pointer;
  outline: none;
}

@media screen and (min-width: $desktop-bp-min) {
  .button {
    min-width: 350px;
    font-size: 14px;
    letter-spacing: 0.2em;
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
