.button-hover {
  position: relative;
  transition: all 2s ease;

  &_colored:hover {
    background-color: $thr-background-color;
    color: $second-font-color;
    outline: 2px solid $main-color;
  }

  &:hover {
    animation: burn 1500ms ease-out both;
    box-shadow: 20px 20px 5px 5px $rev-shadow;

    &::before {
      content: '';
      position: absolute;
      top: 5px;
      left: 40px;
      width: 100px;
      height: 40px;
      background: rgba(255, 230, 110, 1);
      border-radius: 100%;
      animation: flare 1000ms ease-out forwards;
    }

    &::after {
      content: '';
      position: absolute;
      top: 5px;
      right: 40px;
      width: 100px;
      height: 40px;
      background: rgba(255, 230, 110, 1);
      border-radius: 100%;
      animation: flare 1000ms ease-out forwards;
    }
  }
}

@keyframes flare {
  0% {
    opacity: 0;
    filter: blur(30px);
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translateY(-10px) scale(2);
    filter: blur(10px);
    opacity: 0;
  }
}

@keyframes burn {
  0% {
    box-shadow: 0 0 5px 0 rgba(200, 0, 10, 1), 0 0 5px 0 rgba(230, 30, 10, 0.8),
      0 0 5px 0 rgba(230, 230, 10, 0.6);
  }

  100% {
    box-shadow: 0 -35px 50px 5px rgba(255, 130, 10, 0),
      0 -30px 30px 10px rgba(230, 30, 10, 0),
      0 -20px 10px 0 rgba(255, 255, 10, 0);
  }
}
