.button-hover {
  position: relative;
  transition: all 2s ease;

  &:hover {
    // box-shadow: 0 0 20px 10px rgba(230, 30, 10, 0.6);
    animation: burn 1500ms ease-out both;
    border: 2px solid $second-font-color;

    // &::before {
    //   content: '';
    //   position: absolute;
    //   left: 40px;
    //   width: 100px;
    //   height: 40px;
    //   background: rgba(255, 230, 110, 1);
    //   border-radius: 100%;
    //   animation: flare 1000ms ease-out forwards;
    // }

    // &::after {
    //   content: '';
    //   position: absolute;
    //   right: 40px;
    //   width: 100px;
    //   height: 40px;
    //   background: rgba(255, 230, 110, 1);
    //   border-radius: 100%;
    //   animation: flare 1000ms ease-out forwards;
    // }
  }
}

// @keyframes flare {
//   100% {
//     transform: translateY(-20px) scale(1.5);
//     filter: blur(10px);
//     opacity: 0;
//   }
// }

@keyframes burn {
  0% {
    color: #ffffff;
    background: rgba(255, 230, 110, 1);
    box-shadow: 0 0 5px 0 rgba(200, 0, 10, 1), 0 0 5px 0 rgba(230, 30, 10, 0.8),
      0 0 5px 0 rgba(230, 230, 10, 0.6);
  }

  100% {
    color: $second-font-color;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 -35px 50px 5px rgba(255, 130, 10, 0),
      0 -30px 30px 10px rgba(230, 30, 10, 0),
      0 -20px 10px 0 rgba(255, 255, 10, 0);
  }
}
