.heading-main {
  font-family: $main-font-family;
  color: $fourth-font-color;
  font-weight: bold;
  margin: 0;
  @media screen and (max-width: $mobile-bp-max) {
    font-size: 20px;
    line-height: 1.45;
  }
  @media screen and (min-width: $tablet-bp-min) {
    font-size: 26px;
    line-height: 1.269;
  }
  @media screen and (min-width: $desktop-bp-min) {
    font-size: 58.333px;
    line-height: 1.3;
  }
  @media screen and (min-width: $ladge-desktop-bp-min) {
    font-size: 48px;
    line-height: 1.208;
  }
}
.heading-section {
  font-weight: 800;
  font-size: 20px;
  line-height: 33px;
  letter-spacing: 0.05em;

  @media screen and (min-width: $tablet-bp-min) {
    font-size: 26px;
    line-height: 62px;
  }
  @media screen and (min-width: $desktop-bp-min) {
    font-size: 42px;
  }
  @media screen and (min-width: $ladge-desktop-bp-min) {
    font-size: 46px;
  }
}
