.heading-main {
  font-family: 'Montserrat';
  color: rgb(24, 25, 29);
}
.heading-section {
}
.heading-sub {
}
.heading-sub-sub {
}

.Комплексная_подготовка_к_ВНО_по_английскому_языку_ {
  font-size: 48px;
  font-family: 'Montserrat';
  color: rgb(24, 25, 29);
  font-weight: bold;
  line-height: 1.208;
}
.Комплексная__подготовка_к_ВНО_по_английскому_яз {
  font-size: 58.333px;
  font-family: 'Montserrat';
  color: rgb(24, 25, 29);
  font-weight: bold;
  line-height: 1.3;
}
.Комплексная__подготовка_к_ВНО__по_английскому_я {
  font-size: 26px;
  font-family: 'Montserrat';
  color: rgb(24, 25, 29);
  font-weight: bold;
  line-height: 1.269;
}

.Комплексная__подготовка_к_ВНО__по_английскому_я {
  font-size: 20px;
  font-family: 'Montserrat';
  color: rgb(24, 25, 29);
  font-weight: bold;
  line-height: 1.45;
}
