ul {
  list-style-type: none;
  counter-reset: semester;
}

.program {
  background-color: #111517;
  font-family: $main-font-family;
  color: $fifth-font-color;
  padding-top: 50px;
  padding-bottom: 436px;
  background-image: url(../images/program/mobile/pic.jpg);
  background-repeat: no-repeat;
  background-position: bottom 316px right;

  @media (min-resolution: 192dpi) {
    background-image: url(../images/program/mobile/bg@2x.jpg);
  }

  @media screen and (min-width: $tablet-bp-min) {
    padding-top: 22px;
    padding-bottom: 358px;
    background-image: url(../images/program/tablet/pic.jpg);
    background-position: bottom 250px right;
  }
}

.program .heading-section {
  text-align: center;
  margin-bottom: 30px;

  @media screen and (min-width: $tablet-bp-min) {
    text-align: left;
    margin-bottom: 38px;
  }
}
