//programs-list
.programs {
  @media screen and (min-width: $tablet-bp-min) {
    display: flex;
  }
  @media screen and (min-width: $desktop-bp-min) {
    flex-direction: column;
  }

  &__item {
    @media screen and (min-width: $tablet-bp-min) {
      width: 152px;

      &:not(:last-of-type) {
        margin-right: 28px;
      }
    }
  }

  &__name {
    font-weight: 500;
    font-size: 13px;
    line-height: 26.17px;
    letter-spacing: 0.05em;
    color: $second-font-color;
    margin-bottom: 10px;

    &::before {
      content: '';
      display: inline-block;
      width: 25px;
      height: 2px;
      background-color: $second-font-color;
      margin-right: 14px;
      vertical-align: middle;
    }

    @media screen and (min-width: 1280px) {
      font-size: 18px;
    }
    @media screen and (min-width: 1680px) {
      font-size: 20.83px;
    }
  }
}
