ul {
  list-style-type: none;
}

.program {
  background-color: #111517;
  font-family: $main-font-family;
  color: $fifth-font-color;
  padding-top: 50px;
}

.program .section-title {
  text-align: center;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}
//semester
.semesters:not(:last-of-type) {
  margin-bottom: 38px;
}

.semesters__title {
  font-weight: 700;
  font-size: 15px;
  line-height: 29.17px;
  letter-spacing: 0.11em;
  color: $fifth-font-color;
  text-transform: uppercase;

  @media screen and (min-width: 1280px) {
    font-size: 19px;
  }
  @media screen and (min-width: 1680px) {
    font-size: 20.83px;
    text-transform: lowercase;
  }
}

//program

.programs__name {
  font-weight: 500;
  font-size: 13px;
  line-height: 26.17px;
  letter-spacing: 0.05em;
  color: $second-font-color;

  @media screen and (min-width: 1280px) {
    font-size: 18px;
  }
  @media screen and (min-width: 1680px) {
    font-size: 20.83px;
  }
}

//subject
.subjects__item {
  font-weight: 400;
  font-size: 11px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: $seventh-font-color;

  @media screen and (min-width: 1280px) {
    font-size: 18.75px;
    line-height: 29.17px;
  }
}
