//semesters-list
.semesters {
  @media screen and (max-width: $mobile-bp-max) {
    padding-left: 67px;
  }
  @media screen and (min-width: $tablet-bp-min) and (max-width: $tablet-bp-max) {
    padding-left: 95px;
  }
  @media screen and (min-width: $desktop-bp-min) {
    display: flex;
    justify-content: space-between;
    position: relative;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: -44px;
      width: 120vw;
      left: $horizont-line-desc;
      height: 2px;
      background-color: $third-background-color;

      @media screen and (min-width: $ladge-desktop-bp-min) {
        height: 4px;
        top: -64px;
        left: $horizont-line-lg-desc;
      }
    }
  }

  &__item {
    position: relative;
    @media screen and (max-width: $mobile-bp-max) {
      padding-left: 35px;
    }
    @media screen and (min-width: $tablet-bp-min) and (max-width: $tablet-bp-max) {
      padding-left: 57px;
    }
    @media screen and (min-width: $desktop-bp-min) and (max-width: $desktop-bp-max) {
      flex: 1 1 266px;

      &:last-of-type {
        flex: 1 1 150px;
      }
    }

    &::before {
      content: '';
      display: block;
      width: 2px;
      height: calc(100% - #{$circle} + #{$semester-mb});
      background-color: $third-background-color;
      position: absolute;
      left: 4px;
      top: 18px;

      @media screen and (min-width: $tablet-bp-min) {
        height: $vertical-line;
        top: 20px;
      }

      @media screen and (min-width: $desktop-bp-min) {
        display: none;
        height: 2px;
        width: 100vw;
        top: -44px;
        left: -50vw;
      }
    }

    &::after {
      content: '';
      display: block;
      width: $circle;
      height: $circle;
      border-radius: 50%;
      background-color: $main-color;
      position: absolute;
      left: 0;
      top: 8px;
      z-index: 100;

      @media screen and (min-width: $tablet-bp-min) {
        top: 10px;
      }

      @media screen and (min-width: $desktop-bp-min) {
        width: 18px;
        height: 18px;
        top: -52px;
      }
      @media screen and (min-width: $ladge-desktop-bp-min) {
        width: 20px;
        height: 20px;
        top: -72px;
      }
    }
  }

  &__item:not(:last-of-type) {
    @media screen and (max-width: $mobile-bp-max) {
      margin-bottom: $semester-mb;
    }

    @media screen and (min-width: $tablet-bp-min) and (max-width: $tablet-bp-max) {
      margin-bottom: $semester-tablet-mb;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 15px;
    line-height: 29.17px;
    letter-spacing: 0.11em;
    color: $fifth-font-color;
    text-transform: uppercase;
    margin-bottom: 8px;

    &::before {
      counter-increment: semester;
      content: counter(semester) ' ';
      @media screen and (min-width: $ladge-desktop-bp-min) {
        font-size: 29.17px;
      }
    }
    @media screen and (min-width: $tablet-bp-min) {
      margin-bottom: 9px;
    }
    @media screen and (min-width: $desktop-bp-min) {
      font-size: 19px;
      margin-bottom: 30px;
    }
    @media screen and (min-width: $ladge-desktop-bp-min) {
      font-size: 20.83px;
      margin-bottom: 24px;
    }
  }
}

.semesters__item:last-of-type::before {
  display: none;
}
