//subjects-list
.subjects {
  margin-bottom: 12px;

  &__item {
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: $seventh-font-color;
    opacity: 0.5;

    @media screen and (min-width: 1280px) {
      font-size: 18.75px;
      line-height: 29.17px;
    }
  }
}
