//subjects-list
.subjects {
  @media screen and (max-width: $mobile-bp-max) {
    margin-bottom: 12px;
  }

  &__item {
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: $seventh-font-color;
    opacity: 0.5;
    white-space: pre-line;

    @media screen and (min-width: $desktop-bp-min) {
      font-size: 18.75px;
      line-height: 29.17px;
      // width: 220px;
    }
  }
}
